@font-face {
    font-family:'Oswald', sans-serif ;
    src: url(../Font/Oswald-VariableFont_wght.ttf);
}
.container__img{
width: 5rem;
}


.container__footer{
   width: 100%;
    background-color:  #1b1c20;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.text__footer{
    text-align: center;
    color: #ffffff; 
    
}


.text{
   
    color: #1b1c20;
}

