.container__main{
    display: flex;
    
    
}

.container__tablero{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    border: 25px solid #333333 ;
    


}
.casilla__negra{
    
    background-color: #999999 ;
}
.container__casilla{
    text-align: center;
    font-size: 2.5rem;
    vertical-align: middle;
    width: 12.5%;
    height: 12.5%;
}


.rotation{
    animation-duration: rotation 1s;
    animation-timing-function: rotation ease-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
    
}